<!doctype html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>Tumblr Trend Wall</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/ico" href="favicon.ico" />
	
	<link href="css/styles.css" rel="stylesheet">
	
</head>
<body>


	<!-- Body -->
	<section>
		<div class="col twelve">
			<h1>Top Fashion Brands on Tumblr</h1>
			<div id='chart' class="chart"><i class="icon-spin1 loading animate-spin"></i></div>
			<span class="summary">See how social data can provide equally valuable insights to your industry<br /><a href="https://datasift.com/auth/register?utm_source=DeveloperBlog&amp;utm_medium=referral&amp;utm_campaign=TumblrFashionBrands" class="cta">Sign up for a free DataSift trial today</a></span>
		</div>
	</section>


	<!-- Footer -->
	<footer>
		<section>
			<div class="col twelve">
				<div class="logo">
					<a href="http://datasift.com">
						<img src="img/datasift-logo.png" alt="DataSift Logo" width="100" />
					</a>
				</div>
				<div class="follow-up">
					<span>© DataSift 2014 | <a href="https://datasift.com/terms/privacy">Privacy Policy</a> | <a href="http://datasift.com/contact">Contact Us</a></span>
				</div>
			</div>
		</section>
	</footer>


	<!-- Load Scripts -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="js/dynamic-bubble-chart.js"></script>
	<script>

		var socket = io.connect();
		
		$(function() { 
			var chart = new DynamicBubbleChart('#chart');

			socket.on('results', function (data) {
				chart.update(data);
			});
		});

	</script>

</body>
</html>