@charset "UTF-8";
/* Imports */
/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
/* =============================================================================
   HTML5 Boilerplate CSS:h5bp.com/css
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster:h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
/* =============================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'chunkfive';
  src: url("../font/chunkfive/regular.eot");
  src: url("../font/chunkfive/regular.eot?#iefix") format("embedded-opentype"), url("../font/chunkfive/regular.ttf") format("truetype"), url("../font/chunkfive/regular.svg#chunkfive") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Headings */
h1, h2, h3, h4, h5 {
  color: #ededed;
  font-weight: 100;
  font-size: 60px;
  line-height: 68px;
  text-shadow: 0px 2px 1px black; }

h1 {
  font-size: 50px;
  margin: 50px 0 0;
  text-align: center; }

h2 {
  font-size: 20px;
  margin: 15px 0 10px;
  text-align: center; }

a {
  color: #fa7f36;
  text-decoration: none;
  -webkit-transition: color 300ms ease-in;
  -moz-transition: color 300ms ease-in;
  -ms-transition: color 300ms ease-in;
  -o-transition: color 300ms ease-in;
  transition: color 300ms ease-in; }
  a:hover {
    color: #ffd6c2; }

/*@import 'inc/buttons';*/
/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
/* Structure */
html {
  height: 100%; }

body {
  background: #29282D;
  color: #ededed;
  font: 100 14px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%; }

/*
Defines the grid layout used for the sites CSS structure
Page is our center aligned 95% width container. We have set it's 'position' as relative
so that the Gridpak overlay will appear in the correct position. We have also updated
the gridpak.js file to use '.block' as it's container.
*/
section {
  margin: 0 auto;
  max-width: 1040px;
  min-width: 800px;
  position: relative; }

/* Reusable column setup */
.col {
  border: 0px solid rgba(0, 0, 0, 0);
  border-left-width: 30px;
  float: left;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important; }

.col a {
  display: inline-block; }

.col a img {
  display: block; }

.col a {
  position: relative; }

.row {
  margin-left: -30px; }

.one {
  width: 8.33333333333%; }

.two {
  width: 16.6666666667%; }

.three {
  width: 25.0%; }

.four {
  width: 33.3333333333%; }

.five {
  width: 41.6666666667%; }

.six {
  width: 50.0%; }

.seven {
  width: 58.3333333333%; }

.eight {
  width: 66.6666666667%; }

.nine {
  width: 75.0%; }

.ten {
  width: 83.3333333333%; }

.eleven {
  width: 91.6666666667%; }

.twelve {
  width: 100%; }

/* Mobile */
@media screen and (min-width: 0px) and (max-width: 319px) {
  section {
    padding: 0 20px; }

  .row {
    margin-left: -12px; }

  .col {
    border-left-width: 12px;
    padding: 0 12px; }

  .one {
    width: 50%; }

  .two,
  .col {
    margin-left: 0;
    width: 100%; } }
/* Tablet */
@media screen and (min-width: 320px) and (max-width: 767px) {
  section {
    padding: 0 30px; }

  .col {
    padding: 0 2%;
    width: 100%; }

  .row .col:first-child {
    margin-left: 0; }

  .one {
    width: 15.0%; }

  .two {
    width: 32.0%; }

  .three {
    width: 49.0%; }

  .four {
    width: 100%; }

  .five {
    width: 100%; }

  .six {
    margin-left: 0;
    width: 100%; } }
/* Monitor */
@media screen and (min-width: 768px) {
  section {
    padding: 0 61px; }

  .row {
    margin-left: -12px; }

  .col {
    border-left-width: 12px; }

  .one {
    width: 8.33333333333%; }

  .two {
    width: 16.6666666667%; }

  .three {
    width: 25.0%; }

  .four {
    width: 33.3333333333%; }

  .five {
    width: 41.6666666667%; }

  .six {
    width: 50.0%; }

  .seven {
    width: 58.3333333333%; }

  .eight {
    width: 66.6666666667%; }

  .nine {
    width: 75.0%; }

  .ten {
    width: 83.3333333333%; }

  .eleven {
    width: 91.6666666667%; }

  .twelve {
    margin-left: 0;
    width: 100%; } }
/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clear {
  clear: both; }

section:before, section:after,
.row:before, .row:after,
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

section:after,
.row:after,
.clearfix:after {
  clear: both; }

section,
.row,
.clearfix {
  *zoom: 1; }

/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
/* Pendulum Animation */
@-webkit-keyframes pendulum {
  0% {
    -webkit-transform: rotate(-5deg); }

  50% {
    -webkit-transform: rotate(5deg); }

  100% {
    -webkit-transform: rotate(-5deg); } }

@-moz-keyframes pendulum {
  0% {
    -moz-transform: rotate(-5deg); }

  50% {
    -moz-transform: rotate(5deg); }

  100% {
    -moz-transform: rotate(-5deg); } }

@-o-keyframes pendulum {
  0% {
    -o-transform: rotate(-5deg); }

  50% {
    -o-transform: rotate(5deg); }

  100% {
    -o-transform: rotate(-5deg); } }

@keyframes pendulum {
  0% {
    transform: rotate(-5deg); }

  50% {
    transform: rotate(5deg); }

  100% {
    transform: rotate(-5deg); } }

/*
   Animation example, for spinners
*/
.animate-fadein {
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -ms-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in; }

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

@font-face {
  font-family: 'icons';
  src: url("../font/icons/icons.eot?70292250");
  src: url("../font/icons/icons.eot?70292250#iefix") format("embedded-opentype"), url("../font/icons/icons.woff?70292250") format("woff"), url("../font/icons/icons.ttf?70292250") format("truetype"), url("../font/icons/icons.svg?70292250#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?70292250#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-spin1:before {
  content: '\e830'; }

/* '' */
.icon-spin2:before {
  content: '\e831'; }

/* '' */
.icon-spin:before {
  content: '\e839'; }

/* '' */
/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
header {
  padding-top: 50px; }

/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
.chart {
  margin: 0 auto;
  height: 600px;
  position: relative;
  width: 800px; }
  .chart .loading {
    color: #fff;
    font-size: 40px;
    left: 50%;
    line-height: 40px;
    margin: -40px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 41px;
    z-index: -1; }

svg {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s; }

text {
  font-weight: 400; }

.summary {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 100px;
  text-align: center; }

/*==================================================*/
/*  VARS
/*==================================================*/
/* Base */
/* Colour Palette */
/* Vendor prefix */
/* Text Shadow */
/* Footer */
footer {
  padding: 30px 0; }
  footer .follow-up {
    text-align: center; }
  footer .logo {
    text-align: center; }
    footer .logo img {
      display: block; }
